<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog - The Firstborn</title>
</head>
<body>
    <div>
        <h1>This is The Firstborn Django Blog</h1>
    </div>
    <div>
        <p>On air since December's 26th, 2019, at 10:30 a.m.</p>
    </div>
    <br><br>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h3><a href=''>{{post.title}}</a></h3>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
        
    {% endfor %}

    <!--
        <div>
        <p>publicado: 26/12/2019, 10:31</p>
        <h3><a href=''>Primeira postagem</a></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, 
            agni, hic ipsam, est modi obcaecati voluptatum odio expedita provident 
            nobis accusamus quas veniam. Beatae ratione assumenda nisi amet 
            velit? Magni?</p>
    </div>
    <div>
        <p>publicado: 26/12/2019, 10:32</p>
        <h3><a href=''>Segunda postagem</a></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, 
            agni, hic ipsam, est modi obcaecati voluptatum odio expedita provident 
            nobis accusamus quas veniam. Beatae ratione assumenda nisi amet 
            velit? Magni?</p>
    </div>
-->


</body>
</html>